.main {
    border-radius: 25px;
    border: 2px solid #ddd;
    background-color: #fff;
    padding: 20px;
    margin: 50px 100px 0px 120px;
    width: 600px;
    align:center;
    height: 500px;
    float:center;
    overflow:auto;
}



.resdiv {
    border-radius: 25px;
    border: 2px solid #ddd;
    background-color: #fff;
    padding: 20px;
    margin: 50px 100px 0px 120px;
    width: 700px;
    height: 600px;
    overflow:auto;
}

.resalldiv {
	border-radius: 25px;
    border: 2px solid #ddd;
    padding: 10px;
    margin: 50px 100px 0px 120px;
    width: 310px;
    height: 400px;
    overflow:auto;
}

.header {
    color: navy;
    margin: 20px;
}
.Errorheader {
    color: red;
    margin: 20px;
}

.Saveheader {
    color: skyblue;
    margin: 20px;
}